<main class="container-fluid">
  <div class="row-fluid">
    <aside class="col-sm-3 col-xs-12 no-float ">
      <h1 class="text-center"> Chat Rooms</h1>
      <div>
        <button ng-click="Main.open()" class="btn btn-primary">New Room Modal</button>
      </div>
      <br>
      <div>
        <ul ng-repeat="room in Main.rooms">
            <li> <a ng-click="Main.setRoom(room)">{{room.name}}</a> </li>
        </ul>
    </div>
    </aside>
    <section class="col-sm-9 col-xs-12 no-float ">
      <h1 class="text-center"> Messages </h1>
      <p class="lead text-center"> {{ roomTitle}} </p>
      <p ng-repeat="message in messages"> {{message.userName}}: {{message.content}}</p>
    </section>
  </div>
</main>
