
<div class="row-fluid equal">
  <aside class="col-md-3">
    <h3 class="text-center"> Chat Rooms</h3>
    <div class="new_room">
      <button ng-click="Main.open()" class="btn btn-primary text-center">New Room</button>
    </div>
    <br>
    <div>
      <table class="room-list">
        <tr ng-repeat="room in Main.rooms">
          <td ng-click="Main.setRoom(room)">  {{room.name}} </td>
          <td>
            <span class="glyphicon glyphicon-remove btn btn-sm" ng-click="Main.deleteRoom(room)" type="button"></span>
          </td>
        </tr>
      </table>
    </div>
  </aside>

  <section class="col-md-9">
    <h2 class="text-center"> Messages </h2>
    <p class="lead text-center"> {{ Main.currentRoom.name}} </p>
    <div>
      <div class="message-list">
        <p ng-repeat="message in messages"> <strong> {{message.userName}}: </strong> {{message.content}} </p>
      </div>
      <div>
        <form class="col-md-8 message-form">
          <div class = "input-group">
            <input type = "text" class = "form-control " placeholder="Enter your message" ng-model="message.content">
            <span class = "input-group-btn">
              <button class = "btn btn-default" type = "button" ng-click="Main.sendMessage(message)">
                Send
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </section>

</div>
